<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='/css/style.css'>
    <title>Concluído</title>
</head>

<body>
    <header>
        <div class="wrapper">
        </div>
        <ul>
            <li><a class="active" href="index">Home</a></li>
            <li><a href="inserir">Adicionar Alunos</a></li>
            <li><a href="select">Mostrar Alunos</a></li>
            <li><a href="cep">Consultar Cep</a></li>
        </ul>
        <div class="bem-vindo">
            <h1 style="font-size: 20px;">
                {{name}} <span>foi adicionado!</span></h1>
            <img style="width: 50px; height: 50px;" src="../img/check (1).png" alt="">
        </div>
    </header>

    <footer>
        <p id="hora"></p>
    </footer>
</body>

</html>